@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #ecf0f3;
    transition: background 0.3s ease;
}

.dark body {
    background: #1e1e1ee0;
}


.form {
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    transition: all 0.3s ease;
}

.dark .form {
    background: #1e1e1e;
    box-shadow: 14px 14px 20px #141414, -14px -14px 20px #2a2a2a;
    color: #f0f0f0 !important;
}

.dark .form * {
    color: #f0f0f0 !important;
}

.dark .form input {
    background: black;
}

.form-logo {
    block-size: 100px;
    inline-size: 100px;
    background: url(https://img.icons8.com/?size=100&id=114622&format=png&color=000000);
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    transition: all 0.3s ease;
}

.dark .form-logo {
    box-shadow: 7px 7px 10px #141414, -7px -7px 10px #2a2a2a;
    background-color: #333;
}


.form-title {
    margin-block-start: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
}

/* ************************************************* */

/* الشريط نفسه */
::-webkit-scrollbar {
    inline-size: 5px;
}

/* الجزء الخلفي (الخلفية) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* الجزء اللي بيتحرك (السكروول نفسه) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* عند الـ hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}