@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #ecf0f3;
}

.form {
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.form-logo {
    height: 100px;
    width: 100px;
    background: url(https://img.icons8.com/?size=100&id=114622&format=png&color=000000);
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.form-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
}

/* ************************************************* */

/* الشريط نفسه */
::-webkit-scrollbar {
    width: 5px;
    /* عرض الشريط الجانبي */
}

/* الجزء الخلفي (الخلفية) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* الجزء اللي بيتحرك (السكروول نفسه) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* عند الـ hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}